


#requirement-node-form label { 
    width: 25%;
    
}
#invite-form { 
    padding: 20px;
    background: white;
}
#invite-form #edit-field-invite-user-relation-type 
{
    display:none;
} 

#privatemsg-new #edit-token { display:none; } 



.page-messages #privatemsg-list #privatemsg-list-form .privatemsg-list {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.page-messages #privatemsg-list #privatemsg-list-form .privatemsg-list tbody tr td{
    padding: 10px;
    background-color: #FFF;
    border-top: 1px solid #e7eaec;
}

.page-messages #privatemsg-list #privatemsg-list-form .privatemsg-list .message {
	display: table-cell;
}

.page-messages #privatemsg-list #privatemsg-list-form .privatemsg-list tbody tr td a{
    color: inherit;
    font-weight: normal;
}

.page-messages #privatemsg-list #privatemsg-list-form .privatemsg-list tbody {
	color: #676a6c;
	font-size: 13px;
	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	vertical-align: top;
}


.page-messages #privatemsg-list #privatemsg-list-form .privatemsg-list tbody tr:hover td{
    background-color: #F5F5F5;
}


.page-messages #privatemsg-list #privatemsg-list-form .privatemsg-list thead th.privatemsg-header-subject {
    width: 20%;
}

.page-messages #privatemsg-list #privatemsg-list-form .privatemsg-list thead th.privatemsg-header-participants {
    width: 60%;
}

.page-messages #privatemsg-list #privatemsg-list-form .privatemsg-list thead th.privatemsg-header-lastupdated {
   
    
}

.page-messages #privatemsg-list #privatemsg-list-form .privatemsg-list thead th.select-all {
    width: 5%;
    
}

.page-messages #privatemsg-list #privatemsg-list-form .privatemsg-list thead th {
	padding: 10px;
	border-bottom: none;
}



.page-messages-new #privatemsg-new label {
	display: block;
}

.page-messages-new #privatemsg-new .form-item .description .item-list {
	/*text-align: left;*/
	display: none;
}

.page-messages-new #privatemsg-new .form-actions input.form-submit {
 
}

.page-messages-new #privatemsg-new .form-actions:after {
	 
}

.page-profile-main #profile2-edit-main-form .tabledrag-toggle-weight-wrapper {
	display:none;
}



.page-profile-main table {
	width: 100%;
}
.page-profile-main table tbody tr td .ds-2col .group-left {
	width: 57%;
    float: left;
}
.page-profile-main table tbody tr td .ds-2col .group-right .form-type-fivestar label {
	display:none;
}
.page-profile-main table tbody tr td .ds-2col .group-right {
	float: left;
    width: 40%;
}
.page-profile-main table tbody tr td .ds-2col .group-left label {
	margin-right: 4px;
}
.page-profile-main table tbody tr td input[type="submit"] {
	float:right;
	margin-right: 0;
}
.page-profile-main table tbody tr td {
	/*    padding-top: 10px; */
}
.page-profile-main table tbody tr td input[type="text"]  {
	border: 1px solid #ccc;
    border-top-color: #999; 
}

.page-user table.views-table  , #block-system-main table {
	   width: 100%;
	   border-collapse: collapse;
	   margin:0px;padding:0px;
	   max-widht: 100%;
}

.page-user table.views-table tbody tr td , #block-system-main table tbody tr td {
    padding: 10px;
 
}
 #block-system-main table > tbody > tr > td { 
     border: 1px solid #eeeeee; 
}
.page-user table.views-table thead > tr >th ,  #block-system-main table thead > tr >th {
    padding: 10px;
     
}
.page-messages .action-links {
    list-style-type: none;
     padding-left: 0px;
}
.page-messages .action-links li a {
	
    color: #fff;
    font-size: 14px;
}
 .node-evaluation-form .field-name-field-skills-rating table.field-multiple-table {
   width: 100%;
}

.btn-danger.btn-outline,
.btn-success.btn-outline,
.btn-green.btn-outline{
   margin-right: 5px;
}
.btn-green.btn-outline:hover {
    background-color: green;
    color: #fff;
}
.btn-green.btn-outline {
    pointer-events: none;

}
.page-user-edit label {
	display: block;
}

.page-user-edit #user-profile-form .field-name-field-approved-recruiter-uid,
.page-user-edit #user-profile-form .field-name-field-recruiter-status
{
	display: none;
}
.page-user-edit #user-profile-form  .field-type-list-text  select{
	    -webkit-appearance: menulist;
}
.page-user-edit .form-item-field-recruiter-status-und label, 
.page-user-edit .option {
	    display: inline-block;
	    margin-right: 10px;
}
.page-user-edit .field-type-taxonomy-term-reference input {
	border: 1px solid #ccc;
    border-top-color: #999; 
}

.page-user-edit  #user-profile-form .field-name-field-user-about .filter-wrapper,
.page-user-edit.admin-menu #user-profile-form .field-name-field-user-about .filter-wrapper {
    display: none;
}

.page-invite-add-invite-by-email .description {
     
}

.page-invite-add-invite-by-email input#edit-submit {
 
}

.page-user p.pending_ractivation {
	color: red;
}

.page-node-add-evaluation .field-name-field-skills-rating table.field-multiple-table input[type='submit'] {
   float: right;
   margin-right: 0px;
}
.page-node-add-evaluation table tbody tr td .ds-2col > .group-right  {
	float: left;
    width: 41%;
}
.page-node-add-evaluation table tbody tr td .ds-2col > .group-right .field-type-fivestar label {
	display: none;
}
.page-node-add-evaluation table tbody tr td .ds-2col > .group-left {
    float: left;
    width: 56%;
    margin-right: 20px;
}


.page-user .tabs { display:block; }
.page-user .tabs.primary { display:none; }
.page-user .tabs.secondary { display:block;}


.page-profile-main .ds-2col .group-left {
	margin-top: 20px;
}

.page-profile-main .ds-2col .group-left input[type="text"] {
	width: 87%;
}

.page-profile-main .ds-2col .group-right div.fivestar-widget {
  /*	margin-top: 20px; */
      margin-top: 53px;
}

.page-profile-main table tbody tr td input[type="submit"] {
	position: relative;
	bottom: 30px;
    right: 285px;
}

.page-profile-main #edit-actions input.form-submit {
top: 24px;
position: relative;	
}
.page-relationships table.sticky-enabled {
	width: 100%;
	border: 1px solid #bebfb9;
}

.page-relationships table.sticky-enabled tr td {
	padding: 10px;
	background-color: #FFF;
	border: 1px solid #e7eaec;
	border-collapse: collapse;
}

.page-relationships table.sticky-enabled tr td:last-child {
	border-right: 1px solid #bebfb9;
}


.page-relationships table.sticky-enabled th {
	
	border: 1px solid #bebfb9;
	background: #e1e2dc;
	padding:10px;
	
}


.page-access-request .item-list {
	text-align: justify;
}

.page-access-request .item-list ul li {
	list-style-type: none;
	float: left;
}

.mtlg.col-sm-12 {
    padding-right: 0;
}
.mtlg .col-md-4:nth-child(1),
.mtlg .col-md-4:nth-child(2) {
	
}
.mtlg .col-md-4:nth-child(1) {
  width: 23%;
}
.mtlg .col-md-4 {
     padding-right: 0;
        padding-left: 0;
}

.page-searchapi-candidate .view-saved-search table.views-table,
.page-searchapi-candidate .view-searchapi-candidate table.views-table,
.page-user-saved-searches table.sticky-enabled {
	width: 100%;
	border: 1px solid #bebfb9;
}

.page-searchapi-candidate .view-saved-search table.views-table th,
.page-searchapi-candidate .view-searchapi-candidate table.views-table th,
.page-user-saved-searches table.sticky-enabled th {
	border: 1px solid #bebfb9;
	background: #e1e2dc;
	padding: 10px;
}

.page-searchapi-candidate .view-saved-search table.views-table tr td,
.page-searchapi-candidate .view-searchapi-candidate table.views-table tr td,
.page-user-saved-searches table.sticky-enabled tr td {
	padding: 10px;
	background-color: #FFF;
	border: 1px solid #e7eaec;
	border-collapse: collapse;
}



#search-api-saved-searches-save-form .form-item-name {
	float: left;
	padding: .5em 1em 0 0;
	
}

#search-api-saved-searches-save-form .form-item {
	margin-right: 16px;
}

#search-api-saved-searches-save-form .form-item-notify-interval {
	float: left;
	padding: .5em 1em 0 0;
}

#search-api-saved-searches-save-form input.form-submit {
	margin-top:42px;
}

#block-views-saved-search-block-1 h2 {
	clear: both;
}

.page-searchapi-candidate .view-searchapi-candidate span.flag-wishlist a {
	color: #ed5565;

    color:white;
}

.page-searchapi-candidate .view-searchapi-candidate span.flag-wishlist a:hover {
	color: #FFF;
}
.page-searchapi-candidate .views-exposed-widget select ,
.page-searchapi-candidate .views-exposed-widget input {
	border: 1px solid #A9A9A9;
/*	width: 210px;
	height: 25px;  */
}
.page-searchapi-candidate .views-submit-button {
  /*  position: absolute;
    right: 0px;
    top: 0px; */
}
.page-searchapi-candidate .views-widget-filter-profile_evaluation_field_skills_rating_field_skills {
  /* margin-right: 1px; */
}
.page-searchapi-candidate .views-submit-button input {
  /* 
    height: auto;
    margin-top: 1em !important;
    margin-right: 6px; */
    width: auto;
    height: auto;
    margin-top: 2.4em !important;
    margin-right: 6px;
    /*background-color: #1ab394;
    background-color: #5d9cec;
    color: #fff;
     border: none;*/
    padding: 7px 55px;
       
}
.page-searchapi-candidate .views-submit-button input:hover,
.page-searchapi-candidate .views-submit-button input:focus{
     /*  background-color: #5d9cec;
     color: #fff;*/
}
.page-searchapi-candidate .views-submit-button {
  /*  text-align: center; */
}
.page-searchapi-candidate  .views-exposed-form .views-exposed-widget {
  /*  padding: .5em 2em 0 0;
    width: 25%; */
}
.page-searchapi-candidate .views-widget-filter-field_interests {
  /*  clear: left; */
}
.page-searchapi-candidate  .views-exposed-form .views-exposed-widget label {
 /*  display: none;  */  
}
.page-searchapi-candidate  .views-exposed-form .views-exposed-widget.views-submit-button {
    padding: 0;
}
.page-searchapi-candidate .views-submit-button a {
    /*color: #1ab394;*/
    color: #5d9cec;
    margin-top: 0px;
    padding-top: 7px;
}
.page-searchapi-candidate .views-widget-filter-field_city input {
    width: 175px;
    height: 34px;
    padding: 6px 12px;
}
.page-searchapi-candidate  #edit-profile-evaluation-field-skills-rating-field-skills-wrapper {
   /* margin-bottom: 40px; */
}
.page-relationships .tabs {
	display: none; 
}
.page-searchapi-candidate #block-views-exp-searchapi-candidate-page,
.page-searchapi-candidate #block-search-api-saved-searches-default-candidate {
    margin-bottom: 30px;
}

#search-api-saved-searches-save-form .form-item label {
	display: block;
}

#search-api-saved-searches-save-form .form-item input,select {
	width: 175px;
	height: 34px;
	padding: 6px 12px;
}
#sidebar-first { 
    
}
#sidebar-first .block-facetapi h2{ 
      font-size: 16px;
    font-weight: bold;
    padding: 10px;
    padding-bottom: 0px;
}

#sidebar-first .block-facetapi .item-list ul li { 
    list-style-type: none;
    text-align: left;
    padding-left: 15px;
    list-style-image: none;
    
}

.page-searchapi-candidate .views-exposed-widget select {
    width: 100%;
    padding-left: 10px;
    border-color: #CBD5DD;
}
.page-searchapi-candidate .views-widget input{
    width: 100%;
    height: 33px;
    padding-left: 10px;
    border-color: #CBD5DD;
}
.page-searchapi-candidate .views-exposed-widget input::-webkit-input-placeholder{
    color: #111 !important;
}
.page-searchapi-candidate .views-widget-filter-field_zip_code {
  /*  margin-right: 1px;
    margin-bottom: 35px;  */
}

.page-searchapi-candidate #edit-field-job-title-wrapper {
  /*  clear: left ; */
}
.page-messages #edit-operation  {
    border-color: #eaeaea;
    width: 159px;
}
.page-messages #edit-delete {
    height: 35px;
    margin-top: -3px !important;
}  
    