
input.form-submit {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
        touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    
        user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-right: 20px;
    
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
    min-width: 120px;    border-radius: 3px;
    
    
}

#requirement-node-form label { 
    width: 25%;
    
}
#invite-form { 
    
}
#invite-form #edit-field-invite-user-relation-type 
{
    display:none;
} 

#privatemsg-new #edit-token { display:none; } 



.page-messages #privatemsg-list #privatemsg-list-form .privatemsg-list {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.page-messages #privatemsg-list #privatemsg-list-form .privatemsg-list tbody tr td{
    padding: 10px;
    background-color: #FFF;
    border-top: 1px solid #e7eaec;
}

.page-messages #privatemsg-list #privatemsg-list-form .privatemsg-list .message {
	display: table-cell;
}

.page-messages #privatemsg-list #privatemsg-list-form .privatemsg-list tbody tr td a{
    color: inherit;
    font-weight: normal;
}

.page-messages #privatemsg-list #privatemsg-list-form .privatemsg-list tbody {
	color: #676a6c;
	font-size: 13px;
	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	vertical-align: top;
}


.page-messages #privatemsg-list #privatemsg-list-form .privatemsg-list tbody tr:hover td{
    background-color: #F5F5F5;
}


.page-messages #privatemsg-list #privatemsg-list-form .privatemsg-list thead th.privatemsg-header-subject {
    width: 20%;
}

.page-messages #privatemsg-list #privatemsg-list-form .privatemsg-list thead th.privatemsg-header-participants {
    width: 60%;
}

.page-messages #privatemsg-list #privatemsg-list-form .privatemsg-list thead th.privatemsg-header-lastupdated {
   
    
}

.page-messages #privatemsg-list #privatemsg-list-form .privatemsg-list thead th.select-all {
    width: 5%;
    
}

.page-messages #privatemsg-list #privatemsg-list-form .privatemsg-list thead th {
	padding: 10px;
	border-bottom: none;
}



.page-messages-new #privatemsg-new label {
	display: block;
}

.page-messages-new #privatemsg-new .form-item .description .item-list {
	/*text-align: left;*/
	display: none;
}

.page-messages-new #privatemsg-new .form-actions input.form-submit {
	 text-indent: -9999px;
}

.page-messages-new #privatemsg-new .form-actions:after {
	content: "Send";
	text-indent: 0;
	display: block;
	color:white;
	margin-top:-25px;
	padding-left:40px;
}

.page-profile-main #profile2-edit-main-form .tabledrag-toggle-weight-wrapper {
	display:none;
}



.page-profile-main table {
	width: 100%;
}
.page-profile-main table tbody tr td .ds-2col .group-left {
	width: 57%;
    float: left;
}
.page-profile-main table tbody tr td .ds-2col .group-right .form-type-fivestar label {
	display:none;
}
.page-profile-main table tbody tr td .ds-2col .group-right {
	float: left;
    width: 40%;
}
.page-profile-main table tbody tr td .ds-2col .group-left label {
	margin-right: 4px;
}
.page-profile-main table tbody tr td input[type="submit"] {
	float:right;
	margin-right: 0;
}
.page-profile-main table tbody tr td {
	/*    padding-top: 10px; */
}
.page-profile-main table tbody tr td input[type="text"]  {
	border: 1px solid #ccc;
    border-top-color: #999; 
}

.page-user table.views-table {
	   width: 100%;
	   border-collapse: collapse;
	   margin:0px;padding:0px;
}

.page-user table.views-table tbody tr td {
    padding: 10px;
    border: 1px solid;
}

.page-user table.views-table thead > tr >th {
    padding: 10px;
    border: 1px solid #676A6C;
    background-color: #323232;
    color: #FFF;
}
.page-messages .action-links {
    list-style-type: none;
    width: 156px;
    background-color: #1ab394;
    padding: 12px;
    border-radius: 3px;	
}
.page-messages .action-links li a {
	
    color: #fff;
    font-size: 14px;
}
 .node-evaluation-form .field-name-field-skills-rating table.field-multiple-table {
   width: 100%;
}

.btn-danger.btn-outline,
.btn-success.btn-outline,
.btn-green.btn-outline{
   margin-right: 5px;
}
.btn-green.btn-outline:hover {
    background-color: green;
    color: #fff;
}
.btn-green.btn-outline {
    pointer-events: none;

}
.page-user-edit label {
	display: block;
}

.page-user-edit #user-profile-form .field-name-field-approved-recruiter-uid,
.page-user-edit #user-profile-form .field-name-field-recruiter-status
{
	display: none;
}
.page-user-edit #user-profile-form  .field-type-list-text  select{
	    -webkit-appearance: menulist;
}
.page-user-edit .form-item-field-recruiter-status-und label, 
.page-user-edit .option {
	    display: inline-block;
	    margin-right: 10px;
}
.page-user-edit .field-type-taxonomy-term-reference input {
	border: 1px solid #ccc;
    border-top-color: #999; 
}

.page-user-edit  #user-profile-form .field-name-field-user-about .filter-wrapper,
.page-user-edit.admin-menu #user-profile-form .field-name-field-user-about .filter-wrapper {
    display: none;
}

.page-invite-add-invite-by-email .description {
    padding-left: 43px;
}

.page-invite-add-invite-by-email input#edit-submit {
	margin-left: 43px;
}

.page-user p.pending_ractivation {
	color: red;
}

.page-node-add-evaluation .field-name-field-skills-rating table.field-multiple-table input[type='submit'] {
   float: right;
   margin-right: 0px;
}
.page-node-add-evaluation table tbody tr td .ds-2col > .group-right  {
	float: left;
    width: 41%;
}
.page-node-add-evaluation table tbody tr td .ds-2col > .group-right .field-type-fivestar label {
	display: none;
}
.page-node-add-evaluation table tbody tr td .ds-2col > .group-left {
    float: left;
    width: 56%;
    margin-right: 20px;
}


.page-user .tabs { display:block; }
.page-user .tabs.primary { display:none; }
.page-user .tabs.secondary { display:block;}


.page-profile-main .ds-2col .group-left {
	margin-top: 20px;
}

.page-profile-main .ds-2col .group-left input[type="text"] {
	width: 80%;
}

.page-profile-main .ds-2col .group-right div.fivestar-widget {
	margin-top: 20px;
}

.page-profile-main table tbody tr td input[type="submit"] {
	position: relative;
	bottom: 30px;
	right: 100px;
}

.page-relationships table.sticky-enabled {
	width: 100%;
	border: 1px solid #bebfb9;
}

.page-relationships table.sticky-enabled tr td {
	padding: 10px;
	background-color: #FFF;
	border: 1px solid #e7eaec;
	border-collapse: collapse;
}

.page-relationships table.sticky-enabled tr td:last-child {
	border-right: 1px solid #bebfb9;
}


.page-relationships table.sticky-enabled th {
	
	border: 1px solid #bebfb9;
	background: #e1e2dc;
	padding:10px;
	
}


.page-access-request .item-list {
	text-align: justify;
}

.page-access-request .item-list ul li {
	list-style-type: none;
	float: left;
}

.mtlg.col-sm-12 {
    padding-right: 0;
}
.mtlg .col-md-4:nth-child(1),
.mtlg .col-md-4:nth-child(2) {
	
}
.mtlg .col-md-4:nth-child(1) {
  width: 23%;
}
.mtlg .col-md-4 {
     padding-right: 0;
        padding-left: 0;
}

.page-searchapi-candidate .view-saved-search table.views-table,
.page-searchapi-candidate .view-searchapi-candidate table.views-table,
.page-user-saved-searches table.sticky-enabled {
	width: 100%;
	border: 1px solid #bebfb9;
}

.page-searchapi-candidate .view-saved-search table.views-table th,
.page-searchapi-candidate .view-searchapi-candidate table.views-table th,
.page-user-saved-searches table.sticky-enabled th {
	border: 1px solid #bebfb9;
	background: #e1e2dc;
	padding: 10px;
}

.page-searchapi-candidate .view-saved-search table.views-table tr td,
.page-searchapi-candidate .view-searchapi-candidate table.views-table tr td,
.page-user-saved-searches table.sticky-enabled tr td {
	padding: 10px;
	background-color: #FFF;
	border: 1px solid #e7eaec;
	border-collapse: collapse;
}



#search-api-saved-searches-save-form .form-item-name {
	float: left;
	padding: .5em 1em 0 0;
}

#search-api-saved-searches-save-form .form-item-notify-interval {
	float: left;
	padding: .5em 1em 0 0;
}

#search-api-saved-searches-save-form input.form-submit {
	margin-top:14px;
}

#block-views-saved-search-block-1 h2 {
	clear: both;
}